* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url("https://img.fortawesome.com/1ce05b4b/open-graph-search-v5-default.png");
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: bold;
    background: #00000047;
}

main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

img {
    display: block;
}

.button-container {
    text-align: center;
    margin-bottom: 10px;
  }

button {
    background-color:#416CA9;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    padding: 12px 24px;
    transition: 0.3s ease-in-out;
  }
  
button:hover {
    background-color:#193154;
  }

#date {
    color:white;
}