body {
    background-image: url("https://img.fortawesome.com/1ce05b4b/open-graph-search-v5-default.png");
}

h1 {
    color: white;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
    font-size: 5rem;
    font-weight: bold;
    background: #00000047;

    ;
}

main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

img {
    display: block;
}
